.WidgetLg {
    flex: 3;
    padding: 10px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.WidgetLgTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}

.WidgetLgTable {
    width: 100%;
    border-spacing: 5px;
}

.WidgetLgTh {
    text-align: left;
    margin-right: 40px;
    justify-content: space-between;
}

.WidgetLgTr{
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
}

.WidgetLgUser {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.WidgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.WidgetLgName {
    margin-left: 10px;
}

.WidgetLgDate, .WidgetLgAmount {
    font-weight: 300;
}

.WidgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.WidgetLgButton.Approved {
    color: #3bb077;
    background-color: #e5faf2;
}

.WidgetLgButton.Declined {
    color: #d95087;
    background-color: #fff0f1;
}

.WidgetLgButton.Pending {
    color: #2a7ade;
    background-color: #ebf1fe;
}