.product {
   /* flex: 6; */
   /* width: 100%; */
   padding: 15px;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    color: #fff;
    background-color: teal;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.productTop {
    display: flex;
    margin-top: 15px;
}

/* .productTopLeft,
.productTopRight {
    flex: 1;   
} */

.productTopLeft {
    min-width: 450px;
}

.productTopRight {
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoTop {
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
}

.productInfoImg {
    max-width: 200px;
    max-height: 200px;
    margin-left: 150px;
}

.productName {
    font-weight: 600;
}

.productInfoBottom {
    margin-top: 10px;
}

.productInfoItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.productInfoKey {
    font-weight: 600;
}

.productInfoValue {
    font-weight: 100;
}

.productBottom {
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
    display: flex;
    justify-content: space-between;
}

.productFormLeft {
    display: flex;
    flex-direction: column;
}

.productFormLeft > label {
    margin-bottom: 10px;
    color: gray;
}

.productFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.productFormLeft > input:focus {
    outline: none;
}

.productFormLeft > select {
    margin-bottom: 10px;
}

.productFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productUploader {
    display: flex;
    align-items: center;
}

.productUploaderImg {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.productButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}