.productList {
    flex: 6;
    padding-left: 15px;
    min-width: 600px;
}

.productListTitle {
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.productListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #3bb077;
    margin-right: 30px;
    cursor: pointer;
}

.productListDelete {
    color: red;
    cursor: pointer;
}