* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.container{
    display: flex;
    margin-top: 10px;
    /* justify-content: space-around; */
    /* align-items: space-between; */
}

.link {
  text-decoration: none;
  color: inherit;
}
